.primary-header .flex {
  justify-content: space-between;
  align-items: center;
}

.primary-header {
  position: absolute;
  top: 6%;
  z-index: 10;
  width: 100%;

  & .container {
    padding: 0 3rem;
  }

  &__inner {
    transform: translateX(-2rem);
  }
}

@media screen and (min-width: 28.125em) {
  .primary-header__inner {
    transform: translateX(0);
  }
}

.logo {
  color: var(--clr-neutral-100);
}

.primary-nav {
  --nav-spacer: 3.5rem;

  & a {
    color: var(--clr-neutral-100);
    font-size: 0.9rem;
  }
}

.primary-nav__list .active,
.primary-nav a:hover {
  border-bottom: 3px solid var(--clr-primary);
  padding-bottom: 0.5rem;
  color: var(--clr-primary);
}

@media screen and (max-width: 56.25em) {
  .primary-nav {
    display: none;
  }

  .primary-header {
    top: 8%;
  }
}

@media screen and (max-width: 48.125em) {
  .primary-header {
    top: 1%;
  }
}
