.callback-form {
  text-align: center;
  --spacer: 0.8rem;
}

@media screen and (min-width: 45em) {
  .callback-form {
    --spacer: -0.5rem;
  }
}

.form {
  padding: 4rem 1.5rem;

  @media screen and (min-width: 28.125em) {
    .form {
      padding: 4rem 3rem;
    }
  }

  &-control input {
    width: 100%;
    border-radius: 100vw;
    padding: 0.8rem 1rem;
    border: none;
    outline: none;
  }

  & textarea {
    width: 100%;
    border-radius: 2rem;
    outline: none;
    padding: 1rem;
    max-height: 10rem;
    resize: none;
    border: none;
  }

  @media screen and (min-width: 45em) {
    &-control input {
      width: 85%;
    }

    & textarea {
      width: 95%;
    }
  }

  &-control input::placeholder,
  & textarea::placeholder {
    color: var(--clr-neutral-700);
  }
}
