.services header {
  text-align: center;
}

.article-preview div {
  padding: 0.5rem 1.875rem 1.875rem 1.875rem;
}

.article-preview img {
  width: 100%;
}

.aboutUs .article-preview {
  --flow-spacer: 1rem;
  background-color: var(--clr-neutral-100);

  & .accent {
    color: var(--clr-primary);
    font-weight: var(--fw-600);
  }
}
