:root {
  --ff-poppins: "Poppins", sans-serif;

  --fs-100: 0.8125rem; //13px;
  --fs-200: 0.875rem; //14px;
  --fs-300: 0.9375rem; //15px;
  --fs-400: 1.1875rem; //19px;
  --fs-500: 1.25rem; //20px;
  --fs-600: 1.125rem; //18px;
  --fs-700: 1.5rem; //24px;
  --fs-800: 1.75rem; //28px;
  --fs-900: 2.25rem; //36px;

  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --clr-neutral-100: #fff;
  --clr-neutral-200: #f7f7f7;
  --clr-neutral-300: #d8d8d4;
  --clr-neutral-400: #aeaead;
  --clr-neutral-500: #7e7c7b;
  --clr-neutral-600: #666666;
  --clr-neutral-700: #5b5b5b;
  --clr-neutral-900: #343434;

  --clr-primary: #a6c738;
  --clr-secondary: #1e1e1e;

  --br: 1rem;
}

@media screen and (min-width: 48em) {
  :root {
    --fs-600: 1.375rem; //22px
    --fs-800: 2.75rem; //44px;
  }
}
