.logo {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.primary-nav__list a,
.page-para,
.request-form p,
.section-title {
  font-size: var(--fs-300);
}

.page-title {
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.page-subtitle {
  font-size: var(--fs-800);
  font-weight: var(--fw-700);
  line-height: 1.2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.request-form h4 {
  font-size: 1.375rem;
  font-weight: var(--fw-600);
}

.section-title {
  font-size: var(--fs-900);
  font-weight: var(--fw-600);
}

.section-title span {
  color: var(--clr-primary);
}

.section-subtitle {
  letter-spacing: 1px;
  font-size: var(--fs-300);
  color: var(--clr-neutral-600);
  text-transform: uppercase;
}

.article-preview h3 {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  letter-spacing: 0.25px;
}

.article-preview p {
  color: var(--clr-neutral-600);
}

.count-digit {
  color: var(--clr-primary);
  font-size: var(--fs-900);
  font-weight: var(--fw-700);
}

.count-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  letter-spacing: 0.5px;
}

.testimonial-inner__content h4 {
  font-size: var(--fs-400);
  font-weight: var(--fw-700);
  color: var(--clr-secondary);
  letter-spacing: 0.5px;
}

.testimonial-inner__content span {
  color: var(--clr-primary);
  font-weight: 600;
  display: inline-block;
}

.testimonial-inner__content p {
  color: var(--clr-neutral-600);
}

.btn {
  display: inline-block;
  font-size: var(--fs-100);
  padding: 0.75em 1.875em;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 100vw;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
}
