/* General Layout */

section {
  padding: 4.75rem 0;
}

@media screen and (min-width: 40em) {
  section {
    padding: 8.75em 0;
  }
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1rem);
}
